<div class="container-fluid">
  <div><!-- class="container xd-container" -->
    <h2>Citizens</h2>

    <div class="row">
      <div class="col-sm-4">
        <button (click)="onNewCitizen()" class="btn btn-primary" type="button" >New Citizen</button>
        <button (click)="onEditCitizen()" class="btn btn-secondary" type="button" >Edit</button>
        <button (click)="onDeleteCitizen()" class="btn btn-secondary" type="button" >Delete</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <ag-grid-angular
          class="ag-theme-balham"
          [columnDefs]="columnDefs"
          [rowSelection]="'single'"
          [rowModelType]="'infinite'"
          [pagination]="true"
          [paginationPageSize]="10"
          [cacheBlockSize]="10"
          (gridReady)="onGridReady($event)"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
</div>
