<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation" *ngIf="currentUser">
      <div class="navbar-header">
          <a class="navbar-brand" href="#"><span></span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="home" title="home page"><fa-icon [icon]="['fas', 'home']"></fa-icon><span>Home</span></a>
            </li>

            <li class="nav-item dropdown" dropdown *ngxPermissionsOnly="['PERM_VIEW_REMINDER']">
              <a class="nav-link dropdown-toggle" dropdownToggle>Reminders<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" *dropdownMenu role="menu">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/reminders"><fa-icon [icon]="['fas', 'th-list']"></fa-icon><span> List of Reminders</span></a></li>
                    <li role="menuitem" *ngxPermissionsOnly="['PERM_ADD_REMINDER']"><a class="dropdown-item" routerLink="/reminders/form"><fa-icon [icon]="['fas', 'sticky-note']"></fa-icon><span> New reminder</span></a></li>
              </ul>
            </li>

            <li class="nav-item dropdown" dropdown *ngxPermissionsOnly="['PERM_VIEW_USER']">
              <a href="javascript:void(0)" class="nav-link dropdown-toggle" dropdownToggle>Admin<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" *dropdownMenu role="menu">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/users"><fa-icon [icon]="['fas', 'users']"></fa-icon><span>Users</span></a></li>
                    <li role="menuitem" *ngxPermissionsOnly="['PERM_ADD_USER']"><a class="dropdown-item" routerLink="/users/form"><fa-icon [icon]="['fas', 'user-plus']"></fa-icon><span> New AuthUser</span></a></li>
              </ul>
            </li>

            <li class="nav-item">
                <a class="nav-link" (click)="logout()" title="logout">
                    <fa-icon [icon]="['fas', 'sign-out-alt']"></fa-icon>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
      </div>
    </nav>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-alerts></app-alerts>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="./assets/images/angular.png" alt="Angular" height="80" width="80" /> <img
                src="./assets/images/spring-pivotal-logo.png" alt="Sponsored by Pivotal" />
        </div>
    </div>
</div>
