<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" role="navigation">
      <div class="navbar-header">
          <a class="navbar-brand" href="#"><span></span></a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" routerLink="home" title="home page"><fa-icon [icon]="['fas', 'home']"></fa-icon><span>Home</span></a>
            </li>

            <li class="nav-item dropdown" dropdown>
              <a class="nav-link dropdown-toggle" dropdownToggle>Citizens<span class="caret"></span>
              </a>
              <ul class="dropdown-menu" *dropdownMenu role="menu">
                    <li role="menuitem"><a class="dropdown-item" routerLink="/citizens"><fa-icon [icon]="['fas', 'th-list']"></fa-icon><span> List of citizens</span></a></li>
                    <li role="menuitem"><a class="dropdown-item" routerLink="/citizens/form"><fa-icon [icon]="['fas', 'sticky-note']"></fa-icon><span> New citizen</span></a></li>
              </ul>
            </li>
        </ul>
      </div>
    </nav>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <app-alerts></app-alerts>
    </div>
  </div>
  <div class="row">
    <div style="position: relative" class="col-sm-12">
      <router-outlet></router-outlet>
      <ngx-ui-loader [loaderId]="'loader-outlet'"></ngx-ui-loader>
    </div>
  </div>
</div>

<br />
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <img src="./assets/images/angular.png" alt="Angular" height="80" width="80" /> <img
                src="./assets/images/spring-pivotal-logo.png" alt="Sponsored by Pivotal" />
        </div>
    </div>
</div>
<!-- master loader and its loaderId is "master" by default -->
<ngx-ui-loader></ngx-ui-loader>