<div class="container-fluid" ngxUiLoaderBlurred [loaderId]="'loader-outlet'">
  <div><!-- class="container xd-container" -->
    <h2>{{titleForm}}</h2>

    <div class="row">
      <div class="col-sm-4">
        <button (click)="onSave(citizenForm.value)" class="btn btn-primary" type="button" >{{titleButton}}</button>&nbsp;
        <button (click)="onCancel()" class="btn btn-secondary" type="button" >Cancel</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">

        <form id="citizen" #citizenForm="ngForm">
          <input type="hidden" name="id" id="id" [(ngModel)]="citizen.id">
          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="name">Name</label>
            <div class="col-sm-10">
              <input type="text" name="name" id="name" [(ngModel)]="citizen.name" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="height">Height (cmt)</label>
            <div class="col-sm-10">
              <input type="number" name="height" id="height" [ngModel]="citizen.height" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="mass">Mass (klg)</label>
            <div class="col-sm-10">
              <input type="number" name="mass" id="mass" [ngModel]="citizen.mass" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="hairColor">Hair Color</label>
            <div class="col-sm-10">
              <input type="text" name="hairColor" id="hairColor" [ngModel]="citizen.hairColor" class="form-control" required>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="gender">Gender</label>
            <div class="col-sm-10">
              <select required name="gender" id="gender" [ngModel]="citizen.gender" class="form-control">
                <option value="Male">Male</option>
                <option value="Female">Female</option>
              </select>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="planet">Planet</label>
            <div class="col-sm-10">
              <input type="text" name="planet" id="planet" [ngModel]="citizen.planet" class="form-control" required>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
